/* Variables */
:root {
    --font-size: 1rem;
    --navbar-height: 60px;
    --burger-menu-width: 400px;
    font-family: "Century Gothic";
}
.light-mode {
    --navbar-color: #222222;
    --navbar-bg-color: white;
    --burger-menu-color: #222222;
    --burger-menu-bg-color: #dddddd81;
}
.dark-mode {
    --navbar-color: rgb(204, 204, 204);
    --navbar-bg-color: #222222;
    --burger-menu-color: white;
    --burger-menu-hover-color: orange;
    --burger-menu-bg-color: #222222e0;
}

/* Reset */
* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

/* Basic style */
body {
    font-size: var(--font-size);
}
.top-page {
    background: url('../images/bandeau.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.big-title {
    font-family: serif;
    padding: 50px;
    padding-top: 100px;
    color: white;
    font-size: 80px;
    text-align: center;
}
.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.services div {
    display: flex;
    align-items: center;
    flex-direction: column;  
    width: 150px;
    text-align: center;
    color: black;
}
.services img {
    width: 50px;
    margin-bottom: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--navbar-color);
    background-color: var(--navbar-bg-color);
    height: var(--navbar-height);
}
.start {
    display: flex;
    align-items: center;
}
.navbar-logo {
    font-size: 1.6rem;
    padding: 0 20px;
}
.navbar-logo > a {
    text-decoration: none;
    color: var(--navbar-color);
}
.search-bar {
    display: flex;
    align-items: center;
}
.search-bar > input {
    width: 300px;
    height: 35px;
    padding: 0px 10px;
}
.search-button {
    width: 100px;
    height: 33px;
    border: none;
    background-color: gray;
}
.navbar-links {
    display: flex;
}
.navbar-link {
    padding: 0 10px;
}
.navbar-link > a {
    text-decoration: none;
    color: var(--navbar-color);
}

    /* Burger menu */
    .burger-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 0;
        height: 100vw;
        top: var(--navbar-height);
        left: 0;
        color: var(--burger-menu-color);
        background: var(--burger-menu-bg-color);
        transition: all .4s cubic-bezier(0.29, 0.61, 0.63, 1.24);
    }
    .show-nav .burger-menu {
        width: var(--burger-menu-width);
    }
    .burger-item {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        font-size: 2rem;
        padding-top: 20px;
        transition: all .4s ease-in-out;
    }
    .burger-item a {
        color: var(--burger-menu-color);
        text-decoration: none;
    }
    .menu-bar {
        display: block;
        width: 0px;
        height: 1px;
        margin: 10px 0px;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all .2s ease-in-out;
    }
    .show-nav .burger-item {
        transform: translateX(20px);
    }
    .show-nav .menu-bar {
        width: calc(var(--burger-menu-width) * 0.8);
    }
    .burger-subitem {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        font-size: 1.6rem;
        padding-top: 20px;
        white-space: nowrap;
        transition: all .4s ease-in-out;
    }
    .burger-subitem > a {
        display: block;
        text-decoration: none;
        padding-left: 20px;
        color: var(--burger-menu-color);
        transition: all .1s ease-in-out;
    }
    .burger-subitem > a:hover {
        padding-left: 1rem;
        color: var(--burger-menu-hover-color);
    }
    .show-nav .burger-subitem {
        transform: translateX(20px);
    }

    /* Toggle menu */
    .burger {
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all .2s ease-in-out;
    }
    .show-nav .bar {
        width: 0;
        background: transparent;
    }
    .bar::before, .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all .2s cubic-bezier(0.42, 0, 0.46, 1.8);
    }
    .bar::before {
        transform: translateY(-12px);
    }
    .bar::after {
        transform: translateY(12px);
    }
    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }


/* Small devices */
@media screen and (max-width: 780px) {
    .navbar-links {
        display: none;
    }
    .search-bar {
        display: none;
    }
}

/* Medium devices */
@media screen and (min-width: 780px) and (max-width: 1010px) {
    .navbar-links {
        display: none;
    }
}

/* Big devices */
@media screen and (min-width: 1010px) {
    .navbar-link > a::after {
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background: var(--navbar-color);
        transition: width .2s;
    }
    .navbar-link:hover > a::after {
        width: 100%;
    }
}