*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    /* Computer */
    --box-size-computer: 150px;
    --box-border-computer: 10px;
    --highlight-border-computer: 15px;
    --grid-gap-computer: 15px;
    --box-font-size-computer: 6rem;
    --font-size-computer: 3rem;

    /* Mobile */
    --box-size-mobile: 100px;
    --box-border-mobile: 7px;
    --highlight-border-mobile: 10px;
    --grid-gap-mobile: 10px;
    --box-font-size-mobile: 4rem;
    --font-size-mobile: 2rem;

    --btn-bg-color: rgba(255, 255, 255, 0.75);
    --btn-hover-color: rgba(255, 255, 255, 0.9);
    --text-color: rgba(59, 59, 59, 0.75);

    font-family: 'Century Gothic';
}

body {
    margin: 0;
    background: linear-gradient(to right, rgb(39, 205, 255), rgb(33, 253, 33));
}


/* Header */

.header {
    display: flex;
    position: relative;
    justify-content: center;
    height: calc(var(--box-size-computer) / 1.2);
    margin-top: 10px;
}
h1 {
    font-size: var(--font-size-computer);
    color: var(--btn-hover-color);
}

/* Control buttons */
    .control-buttons {
        display: flex;
        position: absolute;
        top: 20px;
        width: 50px;
        height: 50px;
        background-color: var(--btn-bg-color);
        border: none;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
    }
    .control-buttons:hover {
        background-color: var(--btn-hover-color);
        transform: scale(1.1);
        transition: 200ms cubic-bezier(0.58, 1.38, 0.75, 1.32);
    }
    .control-buttons:active {
        transform: scale(0.98);
        transition: 50ms;
    }

    /* Back button */
    .back-button {
        left: 20px;
        font-size: 1.2rem;
    }

    /* Mode button */
    .mode-button {
        left: 80px;
        font-size: 1.5rem;
    }

    /* Reset button */
    .reset-button {
        display: none;
        right: 20px;
        font-size: 1rem;
    }
    .showing {
        display: block;
        height: 50px;
    }

/* Board */

.board-frame {
    display: flex;
    margin: 0;
    position: relative;
    justify-content: center;
}
.board {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, var(--box-size-computer));
    grid-template-columns: repeat(3, var(--box-size-computer));
    grid-gap: var(--grid-gap-computer);
}
.board button {
    transition: all 100ms cubic-bezier(0.58, 1.38, 0.75, 1.32);
}
.box {
    display: block;
    margin: 0;
    width: var(--box-size-computer);
    height: var(--box-size-computer);
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    font-size: var(--box-font-size-computer);
    border: var(--box-border-computer) solid white;
    border-radius: 20px;
    font-family: 'Arial';
    transition: transform 1000ms cubic-bezier(0.58, 1.38, 0.75, 1.32);
}
.box.clickable {
    border: transparent;
}
.clickable:hover {
    background-color: var(--btn-hover-color);
    transform: scale(0.95);
}
.clickable:active {
    transform: scale(0.9);
}
.box.X-Highlight {
    background-color: rgba(72, 255, 0, 0.8);
    border: var(--highlight-border-computer) solid rgb(127, 255, 77);
}
.box.O-Highlight {
    background-color: rgba(0, 195, 255, 0.801);
    border: var(--highlight-border-computer) solid rgb(0, 174, 255);
    color: white;
}

/* Devices */

@media screen and (max-width: 780px) {
    .header {
        height: calc(var(--box-size-mobile) / 1.2);
        margin-top: 120px;
    }
    h1 {
        font-size: var(--font-size-mobile);
    }
    .board {
        grid-template-columns: repeat(3, var(--box-size-mobile));
        grid-template-columns: repeat(3, var(--box-size-mobile));
        grid-gap: var(--grid-gap-mobile);
    }
    .box {
        width: var(--box-size-mobile);
        height: var(--box-size-mobile);
        font-size: var(--box-font-size-mobile);
        border: var(--box-border-mobile) solid white;
    }
    .box.X-Highlight {
        border: var(--highlight-border-mobile) solid rgb(127, 255, 77);
    }
    .box.O-Highlight {
        border: var(--highlight-border-mobile) solid rgb(0, 174, 255);
    }
}