*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Computer */
    --box-size-computer: 60px;
    --box-border-radius-computer: 7px;
    --border-size-computer: 5px;
    --gap-size-computer: 7px;
    --font-size-computer: 2.5rem;

    /* Mobile */
    --box-size-mobile: 40px;
    --box-border-radius-mobile: 7px;
    --border-size-mobile: 4px;
    --gap-size-mobile: 4px;
    --font-size-mobile: 2rem;

    --nav-btn-bg-color: rgba(255, 255, 255, 0.4);
    --nav-btn-hover-color: rgba(255, 255, 255, 0.6);
    --word-length: 5;

    --found-color: rgba(30, 255, 0, 0.75);
    --found-border-color: rgb(30, 255, 0);
    --misplaced-color: rgba(255, 238, 0, 0.75);
    --misplaced-border-color: rgb(255, 238, 0);
    --discarded-color: rgba(53, 53, 53, 0.8);

    --keyboard-bg-color: rgba(255, 255, 255, 0.1);

    font-family: 'Century Gothic';
}

body {
    margin: 0;
    background-color: rgb(46, 46, 46);
    height: 100%;
    overflow: hidden;
}

/* Navigation */
    nav {
        display: block;
        height: 80px;
    }

    .control-buttons {
        display: flex;
        position: absolute;
        top: 20px;
        width: 50px;
        height: 50px;
        background-color: var(--nav-btn-bg-color);
        border: none;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        transition: all 200ms cubic-bezier(0.58, 1.38, 0.75, 1.32);
    }
    .control-buttons:hover {
        background-color: var(--nav-btn-hover-color);
        transform: scale(1.1);
    }
    .control-buttons:active {
        transform: scale(0.98);
        transition: 50ms;
    }

    /* Back button */
    .back-button {
        left: 20px;
        font-size: 1.2rem;
        text-decoration: none;
    }

    /* Reset button */
    .reset-button {
        right: 20px;
        font-size: 1rem;
    }

    /* Title */

    h1 {
        color: white;
        display: block;
        text-align: center;
        margin: 20px;
        font-size: 3rem;
    }


/* Board */

.board-frame {
    display: flex;
    position: relative;
    justify-content: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(var(--word-length), var(--box-size-computer));
    grid-template-rows: repeat(6, var(--box-size-computer));
    grid-gap: var(--gap-size-computer) var(--gap-size-computer) ;
}
.box {
    display: flex;
    border-radius: var(--box-border-radius-computer);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: var(--font-size-computer);
}
.box.found {
    background-color: var(--found-color);
    border: var(--border-size-computer) solid var(--found-border-color);
}
.box.misplaced {
    background-color: var(--misplaced-color);
    border: var(--border-size-computer) solid var(--misplaced-border-color);
}
.box.discarded {
    background-color: var(--discarded-color);
}
.box.animate {
    animation: rotate .2s linear;
}

@keyframes rotate {
    0% {
        transform: scaleY(-100%);
    }
    100% {
        transform: scaleY(100%);
    }
}


/* Keyboard */

#keyboard-container {
    display: block;
    margin: 20px auto;
    bottom: 0;
    height: 200px;
    width: 400px;
}
.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}
.keyboard-row > button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 50px;
    cursor: pointer;
    background-color: var(--keyboard-bg-color);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
    transition: all .2s ease-in-out;
}
.keyboard-row > button.wide-button {
    flex-grow: 1.5;
}
.spacer-half {
    flex-grow: 0.5;
}
.keyboard-row > button.found {
    background-color: var(--found-color);
}
.keyboard-row > button.misplaced {
    background-color: var(--misplaced-color);
}
.keyboard-row > button.discarded {
    background-color: var(--discarded-color);
}

/* Small Devices */

@media screen and (max-width: 480px) and (orientation: portrait){
    h1 {
        font-size: 2rem;
    }
    .board {
        display: grid;
        grid-template-columns: repeat(var(--word-length), var(--box-size-mobile));
        grid-template-rows: repeat(6, var(--box-size-mobile));
        grid-gap: var(--gap-size-mobile) var(--gap-size-mobile) ;
    }
    .box {
        border-radius: var(--box-border-radius-mobile);
        font-size: var(--font-size-mobile);
    }
    .box.found {
        border: var(--border-size-mobile) solid var(--found-border-color);
    }
    .box.misplaced {
        border: var(--border-size-mobile) solid var(--misplaced-border-color);
    }

    #keyboard-container {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}